{% extends "base.html" %}
{% load static %}

{% block title %}Автомашины{% endblock %}

{% block content %}

  <h1>Список машин</h1>
  <h2>Фильтрация</h2>
    <form method="GET">
      {% csrf_token %}
      {{ filter.form.as_p }}
      <input type="submit" class="btn btn-success col-4" value="Применить">
    </form>
  <ul class="list-group">
  {% for car in filter.qs %}
    <li class="list-group-item list-group-item-secondary">
      {{ car }}
    </li>
  {% empty %}
    <li class="list-group-item list-group-item-dark">
      Автомобили, удовлетворяющие данному условию, отсутствуют
    </li>
  {% endfor %}
  </ul>
{% endblock %}
